<a href="https://colab.research.google.com/github/alberzenon/AprendizajeAutomatico/blob/main/Actividad6_azc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
from matplotlib import style
import seaborn as sns

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import plot_confusion_matrix
import statsmodels.api as sm
import statsmodels.formula.api as smf

import pandas.util.testing as tm

from sklearn.model_selection import train_test_split as separar
from sklearn.preprocessing import MinMaxScaler

In [ ]:
plt.rcParams['image.cmap'] = "bwr"
#plt.rcParams['figure.dpi'] = "100"
plt.rcParams['savefig.bbox'] = "tight"

import warnings
warnings.filterwarnings('ignore')

In [ ]:
url = 'https://raw.githubusercontent.com/alberzenon/AprendizajeAutomatico/main/Actividades/Arboles_de_decision/Pacientes2.csv'       
datos = pd.read_csv(url)

In [ ]:
datos.head()

,NOEXPED,Enfermedad,HIPERTEN,HIPERGLU,HDLBAJA,HIPERTRI,CINTALTA,EDAD,GENERO,FUMA,ALCOHOL,POLIURIA
0,1,NO,0,0,1,0,0,38,0,0,0,0
1,2,SI,0,1,1,1,1,49,1,0,0,0
2,3,SI,1,1,0,1,1,59,1,0,0,1
3,4,NO,1,1,0,0,0,44,0,0,0,0
4,5,NO,0,0,1,0,0,42,0,0,0,0

In [ ]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 985 entries, 0 to 984
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   NOEXPED     985 non-null    int64
 1   Enfermedad  985 non-null    object
 2   HIPERTEN    985 non-null    int64
 3   HIPERGLU    985 non-null    int64
 4   HDLBAJA     985 non-null    int64
 5   HIPERTRI    985 non-null    int64
 6   CINTALTA    985 non-null    int64
 7   EDAD        985 non-null    int64
 8   GENERO      985 non-null    int64
 9   FUMA        985 non-null    int64
 10  ALCOHOL     985 non-null    int64
 11  POLIURIA    985 non-null    int64
dtypes: int64(11), object(1)
memory usage: 92.5+ KB

In [ ]:
datos['Enfermedad'] = np.where(datos['Enfermedad'] == 'SI', 1, 0)
print("Número de observaciones por clase")
print(datos['Enfermedad'].value_counts())
print("")



print("Porcentaje de observaciones por clase")
print(100 * datos['Enfermedad'].value_counts(normalize=True))

Número de observaciones por clase
0    985
Name: Enfermedad, dtype: int64

Porcentaje de observaciones por clase
0    100.0
Name: Enfermedad, dtype: float64