In [54]:

import pandas as pd
import glob
import numpy as np
import matplotlib.pyplot as plt

In [55]:
all_files = glob.glob("Aemet2019-*.xls")

file_list = []
for f in all_files:
    data = pd.read_excel(f,skiprows=4)
    data['source_file'] = f # nueva columna conteniendo el nombre del fichero leido
    file_list.append(data)
df = pd.concat(file_list)

In [56]:
df.shape

(24707, 13)

In [61]:
#Mostrando primeras columnas del Arreglo
df.head(100)

,Estación,Provincia,Temperatura máxima (ºC),Temperatura mínima (ºC),Temperatura media (ºC),Racha (km/h),Velocidad máxima (km/h),Precipitación 00-24h (mm),Precipitación 00-06h (mm),Precipitación 06-12h (mm),Precipitación 12-18h (mm),Precipitación 18-24h (mm),source_file
0,Estaca de Bares,A Coruña,12.5 (13:30),10.9 (20:40),11.7,60 (00:30),45 (00:30),2.8,0.4,0.8,0.4,1.2,Aemet2019-01-24.xls
1,As Pontes,A Coruña,10.7 (13:50),8.7 (23:40),9.7,NaN,NaN,NaN,4.6,NaN,1.2,1.0,Aemet2019-01-24.xls
2,A Coruña,A Coruña,12.7 (12:10),11.4 (18:50),12.0,45 (15:10),30 (15:10),3.0,1.6,0.2,0.4,0.8,Aemet2019-01-24.xls
3,A Coruña Aeropuerto,A Coruña,12.4 (12:10),10.7 (21:30),11.5,52 (03:10),31 (00:20),2.4,0.8,0.6,0.6,0.4,Aemet2019-01-24.xls
4,"Carballo, Depuradora",A Coruña,12.0 (12:40),10.5 (23:59),11.3,NaN,NaN,14.8,4.4,5.2,3.0,2.2,Aemet2019-01-24.xls
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Castuera,Badajoz,16.8 (15:50),6.9 (08:40),11.8,30 (00:30),18 (16:40),0.0,0.0,0.0,0.0,0.0,Aemet2019-01-24.xls
96,Navalvillar de Pela,Badajoz,19.1 (16:40),8.1 (23:00),13.6,46 (01:00),29 (00:50),0.0,0.0,0.0,0.0,0.0,Aemet2019-01-24.xls
97,Don Benito,Badajoz,19.5 (15:50),8.5 (09:40),14.0,41 (03:00),21 (03:00),0.0,0.0,0.0,0.0,0.0,Aemet2019-01-24.xls
98,Llerena,Badajoz,15.1 (16:00),7.2 (04:30),11.2,51 (11:40),31 (11:40),0.0,0.0,0.0,0.0,0.0,Aemet2019-01-24.xls
99,Villafranca de los Barros,Badajoz,17.9 (16:50),8.3 (23:59),13.1,39 (14:10),28 (14:10),0.0,0.0,0.0,0.0,0.0,Aemet2019-01-24.xls

In [60]:
#Mostrando ultimas columnas del arreglo.
df.tail(20)

,Estación,Provincia,Temperatura máxima (ºC),Temperatura mínima (ºC),Temperatura media (ºC),Racha (km/h),Velocidad máxima (km/h),Precipitación 00-24h (mm),Precipitación 00-06h (mm),Precipitación 06-12h (mm),Precipitación 12-18h (mm),Precipitación 18-24h (mm),source_file
777,Santibañez de Vidriales,Zamora,12.5 (14:00),4.0 (07:00),8.3,67 (12:30),41 (14:40),0.0,0.0,0.0,0.0,0.0,Aemet2019-01-23.xls
778,Pozuelo de Tabara,Zamora,13.8 (13:50),4.7 (03:30),9.3,57 (14:00),39 (13:30),0.0,0.0,0.0,0.0,0.0,Aemet2019-01-23.xls
779,Villadepera,Zamora,12.5 (15:30),4.3 (00:50),8.4,63 (05:40),45 (05:40),0.0,0.0,0.0,0.0,0.0,Aemet2019-01-23.xls
780,Peñausende,Zamora,NaN,NaN,NaN,NaN,12 (15:00),0.0,0.0,0.0,0.0,0.0,Aemet2019-01-23.xls
781,Fresno de Sayago,Zamora,11.2 (16:10),4.3 (03:30),7.8,64 (16:40),41 (05:50),0.0,0.0,0.0,0.0,0.0,Aemet2019-01-23.xls
782,Alcañices,Zamora,12.4 (13:20),4.1 (01:40),8.2,54 (15:10),35 (14:00),0.0,0.0,0.0,0.0,0.0,Aemet2019-01-23.xls
783,Sos del Rey Católico,Zaragoza,5.6 (10:20),2.3 (23:30),3.9,63 (22:20),34 (22:20),14.9,1.2,5.9,1.3,6.5,Aemet2019-01-23.xls
784,Tarazona,Zaragoza,10.8 (12:10),5.9 (03:00),8.4,62 (07:10),35 (09:50),4.2,0.0,0.0,1.2,3.0,Aemet2019-01-23.xls
785,Ejea de los Caballeros,Zaragoza,9.2 (16:10),4.0 (01:00),6.6,36 (09:10),18 (09:10),2.8,0.4,1.0,0.8,0.6,Aemet2019-01-23.xls
786,Castejon de Valdejasa,Zaragoza,7.3 (16:10),2.7 (01:10),5.0,66 (14:50),44 (09:50),2.8,0.4,1.2,0.6,0.6,Aemet2019-01-23.xls
787,Alhama de Aragon,Zaragoza,11.6 (15:50),4.1 (00:00),7.9,NaN,NaN,0.0,0.0,0.0,0.0,0.0,Aemet2019-01-23.xls
788,Daroca,Zaragoza,9.4 (16:50),3.1 (00:00),6.2,58 (07:10),21 (08:50),1.4,0.0,0.0,0.2,1.2,Aemet2019-01-23.xls
789,Calatayud,Zaragoza,12.5 (16:30),4.2 (00:00),8.3,66 (16:30),42 (16:40),0.0,0.0,0.0,0.0,0.0,Aemet2019-01-23.xls
790,La Almunia de Doña Godina,Zaragoza,13.1 (14:00),6.5 (00:00),9.8,59 (14:30),36 (16:10),0.4,0.0,0.2,0.0,0.2,Aemet2019-01-23.xls
791,Zaragoza Aeropuerto,Zaragoza,11.5 (16:00),4.6 (01:50),8.0,70 (11:30),48 (15:20),0.2,0.0,0.2,0.0,0.0,Aemet2019-01-23.xls
792,"Zaragoza, Valdespartera",Zaragoza,11.8 (15:30),4.7 (02:20),8.3,81 (16:30),42 (16:10),0.0,0.0,0.0,0.0,0.0,Aemet2019-01-23.xls
793,Leciñena,Zaragoza,9.6 (12:10),3.1 (00:00),6.4,69 (15:50),45 (14:20),0.4,0.0,0.4,0.0,0.0,Aemet2019-01-23.xls
794,Valmadrid,Zaragoza,9.7 (12:00),4.1 (00:00),6.9,84 (18:40),52 (14:50),1.2,0.2,0.0,0.0,1.0,Aemet2019-01-23.xls
795,Quinto,Zaragoza,12.4 (12:40),3.1 (04:50),7.7,80 (16:10),52 (15:50),0.0,0.0,0.0,0.0,0.0,Aemet2019-01-23.xls
796,Caspe,Zaragoza,12.2 (13:20),4.3 (01:00),8.3,103 (16:00),71 (14:40),0.0,0.0,0.0,0.0,0.0,Aemet2019-01-23.xls

In [40]:
#
df=df.rename(columns={'Estación': 'estacion','Provincia':'provincia','Temperatura máxima (ºC)':'temp_max','Temperatura mínima (ºC)':'temp_min','Temperatura media (ºC)':'temp_med','Racha (km/h)':'viento_racha','Velocidad máxima (km/h)':'viento_vel_max','Precipitación 00-24h (mm)':'prec_dia','Precipitación 00-06h (mm)':'prec_0_6h','Precipitación 06-12h (mm)':'prec_6_12h','Precipitación 12-18h (mm)':'prec_12_18h','Precipitación 18-24h (mm)':'prec_18_24h','source_file':'fecha'})
df.head(1)

,estacion,provincia,temp_max,temp_min,temp_med,viento_racha,viento_vel_max,prec_dia,prec_0_6h,prec_6_12h,prec_12_18h,prec_18_24h,fecha
0,Estaca de Bares,A Coruña,12.5 (13:30),10.9 (20:40),11.7,60 (00:30),45 (00:30),2.8,0.4,0.8,0.4,1.2,Aemet2019-01-24.xls

In [41]:
df=df.replace(to_replace=r'.\(.+\)$', value='', regex=True)
df.head(1)

,estacion,provincia,temp_max,temp_min,temp_med,viento_racha,viento_vel_max,prec_dia,prec_0_6h,prec_6_12h,prec_12_18h,prec_18_24h,fecha
0,Estaca de Bares,A Coruña,12.5,10.9,11.7,60,45,2.8,0.4,0.8,0.4,1.2,Aemet2019-01-24.xls

In [42]:
df.fecha=df.fecha.replace(regex={'Aemet':'',r'\.+xls':''})
df.head(1)

,estacion,provincia,temp_max,temp_min,temp_med,viento_racha,viento_vel_max,prec_dia,prec_0_6h,prec_6_12h,prec_12_18h,prec_18_24h,fecha
0,Estaca de Bares,A Coruña,12.5,10.9,11.7,60,45,2.8,0.4,0.8,0.4,1.2,2019-01-24

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24707 entries, 0 to 796
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   estacion        24707 non-null  object
 1   provincia       24707 non-null  object
 2   temp_max        23650 non-null  object
 3   temp_min        23650 non-null  object
 4   temp_med        23650 non-null  float64
 5   viento_racha    20072 non-null  object
 6   viento_vel_max  20203 non-null  object
 7   prec_dia        23366 non-null  float64
 8   prec_0_6h       23565 non-null  float64
 9   prec_6_12h      23565 non-null  float64
 10  prec_12_18h     23584 non-null  float64
 11  prec_18_24h     23563 non-null  float64
 12  fecha           24707 non-null  object
dtypes: float64(6), object(7)
memory usage: 2.6+ MB

In [44]:
df=df.astype({'estacion': 'string','provincia': 'string', 'temp_max':'float64', 'temp_min':'float64', 'viento_racha':'float64', 'viento_vel_max':'float64','fecha': 'datetime64[ns]'})
df['fecha']=pd.to_datetime(df["fecha"].dt.strftime('%Y-%m-%d'))
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24707 entries, 0 to 796
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   estacion        24707 non-null  string
 1   provincia       24707 non-null  string
 2   temp_max        23650 non-null  float64
 3   temp_min        23650 non-null  float64
 4   temp_med        23650 non-null  float64
 5   viento_racha    20072 non-null  float64
 6   viento_vel_max  20203 non-null  float64
 7   prec_dia        23366 non-null  float64
 8   prec_0_6h       23565 non-null  float64
 9   prec_6_12h      23565 non-null  float64
 10  prec_12_18h     23584 non-null  float64
 11  prec_18_24h     23563 non-null  float64
 12  fecha           24707 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(10), string(2)
memory usage: 2.6 MB

In [45]:
estaciones_con_nan=df[df.isnull().any(axis=1)]['estacion'].unique()
df.drop(df[df['estacion'].isin(estaciones_con_nan)].index, inplace=True)
df.isna().sum()

estacion          0
provincia         0
temp_max          0
temp_min          0
temp_med          0
viento_racha      0
viento_vel_max    0
prec_dia          0
prec_0_6h         0
prec_6_12h        0
prec_12_18h       0
prec_18_24h       0
fecha             0
dtype: int64

In [46]:
#Ahora que ya tenemos los datos limpios vamos a empezar a analizarlos, demostrando que fácil es 
#realizarlo con pandas.

In [47]:
df.iloc[:,np.r_[0:8,12:13]].describe()

,temp_max,temp_min,temp_med,viento_racha,viento_vel_max,prec_dia
count,14663.000000,14663.000000,14663.000000,14663.000000,14663.000000,14663.000000
mean,12.558869,2.557737,7.560342,34.010434,19.691741,1.490009
std,4.506435,5.256177,4.350412,17.793154,11.139909,5.890856
min,-5.000000,-20.500000,-7.400000,0.000000,0.000000,0.000000
25%,9.500000,-1.300000,4.500000,20.000000,12.000000,0.000000
50%,12.700000,2.100000,7.300000,30.000000,17.000000,0.000000
75%,15.700000,5.900000,10.200000,45.000000,26.000000,0.000000
max,27.800000,19.100000,21.100000,146.000000,113.000000,132.800000

In [48]:
#vamos a mostrar 5 filas al azar como muestreo de los datos.

df.filter(regex='^temp_*', axis=1).sample(5)

     temp_max  temp_min  temp_med
329      15.2       0.1       7.6
534      13.9      -1.4       6.2
97       16.3       5.9      11.1
532      16.5      11.8      14.2
730       9.2      -5.9       1.6

In [49]:
#n mostraremos la media de los valores de cada columna agrupándolos por provincia.
df.groupby('provincia').mean()

,temp_max,temp_min,temp_med,viento_racha,viento_vel_max,prec_dia,prec_0_6h,prec_6_12h,prec_12_18h,prec_18_24h
provincia,,,,,,,,,,
A Coruña,12.402765,5.505991,8.958065,43.552995,27.073733,3.329954,0.540553,1.136866,0.994009,0.658525
Alacant/Alicante,15.780645,3.768664,9.777880,32.852535,18.253456,0.070968,0.031336,0.003687,0.017512,0.018433
Albacete,12.548387,-0.327419,6.117204,32.806452,17.376344,0.114516,0.031183,0.024194,0.007527,0.051613
Almería,16.347312,7.915591,12.132258,40.731183,27.166667,0.101613,0.061828,0.007527,0.005376,0.026882
Araba/Álava,7.577419,1.049194,4.316129,32.395161,17.387097,5.145161,1.417742,1.216129,0.879032,1.632258
Asturias,11.186380,4.294982,7.743011,32.949821,18.232975,6.780287,1.739068,1.463441,1.688530,1.889247
Badajoz,13.981774,2.197742,8.091935,27.193548,17.250000,0.546935,0.099677,0.061452,0.080645,0.305161
Barcelona,11.641505,1.374409,6.509462,29.066667,16.169892,0.471183,0.138925,0.254409,0.015269,0.062581
Bizkaia,9.935484,4.251613,7.095699,35.903226,20.612903,9.092473,2.565054,2.340860,1.703226,2.483333
Burgos,7.963343,-1.152786,3.408504,35.117302,21.337243,1.789443,0.378592,0.291789,0.421701,0.697361
Cantabria,10.362366,3.130824,6.747312,34.867384,19.806452,8.797133,2.280287,2.204659,2.016487,2.295699
Castelló/Castellón,12.151613,2.311290,7.234274,46.786290,27.669355,0.304032,0.086290,0.055645,0.069355,0.092742
Ceuta,16.893548,11.690323,14.296774,40.774194,19.548387,1.680645,0.470968,0.274194,0.129032,0.806452
Ciudad Real,12.553763,0.368280,6.466129,25.650538,12.962366,0.667742,0.300538,0.141398,0.018817,0.206989
Cuenca,11.349597,-1.510887,4.914919,33.431452,18.096774,0.462903,0.145161,0.029032,0.025806,0.262903
Cáceres,12.834140,2.655108,7.745968,30.719086,18.083333,1.127554,0.209946,0.061828,0.232796,0.622984
Cádiz,15.852581,6.086452,10.973548,31.432258,18.980645,1.730645,0.517097,0.372581,0.119355,0.721613
Córdoba,14.060573,1.767025,7.915771,26.315412,15.935484,0.582079,0.160573,0.096057,0.043728,0.281720
Gipuzkoa,8.743318,3.516129,6.133641,34.336406,17.479263,9.310599,2.297696,2.355300,1.800922,2.856682
Girona,11.814888,-0.041687,5.887593,36.230769,17.754342,0.436476,0.024566,0.153350,0.178164,0.080397
Granada,15.103226,4.912903,10.007527,29.354839,15.784946,0.590323,0.261290,0.152688,0.065591,0.110753
Guadalajara,10.190323,-2.034677,4.082258,32.661290,16.879032,0.650806,0.177419,0.124194,0.109677,0.239516
Huelva,15.991935,4.492258,10.243548,27.958065,16.319355,0.579355,0.136129,0.021613,0.093226,0.328387
Huesca,9.062007,-1.201254,3.931541,36.541219,20.951613,1.475269,0.220789,0.414695,0.407885,0.431900
Illes Balears,14.373253,4.845161,9.612500,40.637097,21.922043,1.288978,0.277554,0.243683,0.293548,0.474194
Jaén,12.953629,2.349597,7.653629,23.596774,12.536290,0.975403,0.283468,0.381452,0.041935,0.268548
La Rioja,8.316774,0.629677,4.471613,39.296774,22.870968,1.772903,0.389677,0.403871,0.441290,0.538065
Las Palmas,19.341642,12.987390,16.167595,35.885630,21.768328,0.249853,0.059677,0.036070,0.046481,0.107625
León,10.100000,-2.183065,3.958871,25.580645,15.370968,2.371774,0.419355,0.507258,0.817742,0.627419
Lleida,9.047465,-2.499539,3.272350,34.834101,20.373272,0.968203,0.031336,0.262673,0.419355,0.254839
Lugo,10.091398,3.115054,6.608602,29.978495,15.139785,4.931183,1.081720,1.270968,1.387097,1.191398
Madrid,11.493011,-0.903763,5.295968,32.287634,17.435484,1.102151,0.271237,0.151344,0.271505,0.408065
Melilla,17.283871,10.203226,13.745161,39.645161,21.032258,0.438710,0.296774,0.025806,0.006452,0.109677
Murcia,16.409926,3.513151,9.962035,32.245658,18.729529,0.025062,0.013896,0.008189,0.002978,0.000000
Málaga,16.453102,7.690571,12.074442,32.119107,17.677419,0.514392,0.194045,0.123573,0.027047,0.169727
Navarra,9.254839,1.770968,5.518280,42.827957,24.831541,4.953763,1.150896,1.300358,1.051613,1.450896
Ourense,11.629032,0.367742,5.987097,16.645161,5.645161,2.880645,0.448387,0.722581,0.938710,0.770968
Palencia,8.712903,-2.071889,3.323963,34.285714,20.557604,0.932719,0.074654,0.107834,0.357604,0.392627
Pontevedra,12.854032,4.472581,8.665323,28.677419,15.298387,6.032258,1.229032,1.656452,1.900000,1.246774
Salamanca,9.401882,-1.515860,3.944086,33.236559,20.637097,0.671505,0.116129,0.067742,0.145699,0.341935
Santa Cruz de Tenerife,17.447628,10.214991,13.833017,35.182163,21.303605,0.784820,0.215560,0.194307,0.156546,0.218406
Segovia,8.146237,-1.939785,3.103226,30.473118,19.994624,1.204301,0.284946,0.081720,0.329032,0.508602
Sevilla,15.679211,3.438710,9.559857,26.114695,15.695341,0.584229,0.136559,0.037634,0.055556,0.354480
Soria,8.900806,-2.257258,3.324597,40.822581,25.991935,1.229435,0.299194,0.171774,0.231855,0.526613
Tarragona,10.874194,2.454839,6.663871,45.354839,25.141935,0.306452,0.076774,0.124516,0.047097,0.058065
Teruel,9.496774,-0.568238,4.469479,43.774194,26.210918,0.512655,0.165509,0.075434,0.064764,0.206948
Toledo,11.882258,0.271774,6.076613,30.137097,18.766129,0.346774,0.066129,0.025806,0.054032,0.200806
Valladolid,9.102151,-2.666129,3.220968,28.629032,17.467742,0.779570,0.059140,0.022581,0.300000,0.397849
València/Valencia,15.633065,2.863710,9.250269,32.115591,17.169355,0.058065,0.037097,0.005376,0.004301,0.011290
Zamora,9.522258,-1.829677,3.847742,32.119355,20.503226,0.672903,0.017419,0.103226,0.162581,0.389677
Zaragoza,10.728387,0.771935,5.754516,42.619355,24.951613,0.489677,0.177419,0.055484,0.058710,0.198065
Ávila,9.515207,-0.869124,4.321659,32.576037,19.990783,0.626728,0.152995,0.016590,0.176959,0.280184

In [50]:
#Vamos a mostrar los 3 valores mas altos de temperatura máxima que se han registrado en el mes.

df.sort_values(by='temp_max',ascending=False)[['fecha','estacion','provincia','temp_max']].head(3)

         fecha                 estacion               provincia  temp_max
437 2019-01-13  La Aldea de San Nicolás              Las Palmas      27.8
427 2019-01-26                   Pájara              Las Palmas      25.7
675 2019-01-13                Tazacorte  Santa Cruz de Tenerife      25.6

In [51]:
#mostraremos los 3 valores más bajos de temperatura mínima.
df.sort_values(by='temp_min',ascending=True)[['fecha','estacion','provincia','temp_min']].head(3)

         fecha                 estacion   provincia  temp_min
522 2019-01-21  Villanueva de la Cañada      Madrid     -20.5
639 2019-01-06                  Cuéllar     Segovia     -12.1
763 2019-01-06          Sardón de Duero  Valladolid     -11.8

In [52]:
#Máximas diferencias entre temperatura max y min por provincia
df['diff_temp_min_max']=df['temp_max']-df['temp_min']
df.iloc[df.reset_index().groupby('provincia')['diff_temp_min_max'].idxmax()].sort_values(by='diff_temp_min_max',ascending=False)[['fecha','estacion','provincia','diff_temp_min_max','temp_min','temp_max']].head(10)

,fecha,estacion,provincia,diff_temp_min_max,temp_min,temp_max
522,2019-01-21,Villanueva de la Cañada,Madrid,30.9,-20.5,10.4
763,2019-01-06,Sardón de Duero,Valladolid,26.6,-11.8,14.8
639,2019-01-06,Cuéllar,Segovia,26.6,-12.1,14.5
272,2019-01-05,Salvacañete,Cuenca,25.6,-8.8,16.8
32,2019-01-01,Villena,Alacant/Alicante,25.5,-6.2,19.3
665,2019-01-15,Burgo de Osma,Soria,25.3,-7.6,17.7
299,2019-01-05,La Vall de Bianya,Girona,25.0,-4.4,20.6
317,2019-01-15,Molina de Aragón,Guadalajara,24.9,-8.5,16.4
223,2019-01-06,"Valderredible, Cubillo de Ebro",Cantabria,24.3,-11.3,13.0
472,2019-01-02,Martinet,Lleida,24.1,-6.2,17.9

In [53]:
my_plot = surveys.plot("provincia", "weight", kind="scatter")

NameError: name 'surveys' is not defined